*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(11,23,23,255);

}
form{
    display: flex;
    flex-direction: column;
    padding: 50px;
    width: 400px;
    background-color: white;
    border-radius: 20px;
    border: none;
    
    
}
form h1 {
    margin: auto;
    margin-bottom: 20px;
    color: rgba(11,23,23,255);
    }
form input {
    padding: 10px;
    margin: 20px;
    
    border: none;
    border-radius: 10px;
    border-bottom: 1px solid #c0a793;
    outline: none;
    cursor: pointer;
}


#signup{
    margin-bottom: 50px;
    background: #c0a793;
}
span {
    margin: auto;
    color: gray;

}
span a {
    text-decoration: none;
    color: #c0a793;
}